
body {
  font-family: Arial;
  margin: 0;
  background-color: #FDFAD9;
}
main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: darkgreen;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header h1 {
  font-family: limelight;
  color: #FDFAD9;
  font-weight: normal;
  font-size: 8vh;
  margin: auto 25px;
  transition: all 400ms;
}
header h1:hover {
  font-size: 12vh;
}

.header-bottom {
  background-color: green;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-inline: 10px;
  width: 600px;
  min-width: 0px;
}
.search-bar input {
  background-color: #FDFAD9;
  color: darkgreen;
  flex: 1;
  height: 40px;
  border: none;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 49px;
  font-size: 18px;
  min-width: 0;
}
.search-bar input:focus {
  outline: none;
}
.search-bar input::placeholder {
  font-weight: bold;
  color: rgba(0, 100, 0, 0.3);
}
.search-bar button {
  background-color: #FDFAD9;
  color: gray;
  border: none;
  border-radius: 20px;
  margin-left: -50px;
  cursor: pointer;
}
.search-bar img {
  margin: 0;
  padding: 0;
  
  width: 25px;
  height: 25px;
}

.importance-button {
  background-color: #FDFAD9;
  color: darkgreen;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 20px;
  
  margin-inline: 10px;
  border: none;
  border-radius: 20px;
}
.importance-button:hover {
  background-color: darkgreen;
  color: #FDFAD9;
  cursor: pointer;
}
.importance-button:active {
  opacity: 0.6;
}

.notes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 10px));
  gap: 10px 10px;
  justify-content: center;
}
.note {
  background-color: green;
  color: #FDFAD9;
  font-size: 22px;
  padding: 20px;
  border: none;
  border-radius: 20px;
  transition: all 200ms;
}
.note p {
  display: inline;
  vertical-align: middle;
}
.note button {
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 30px;
  margin-right: 5px;
  vertical-align: middle;
  cursor: pointer;
}
.note button:hover {
  opacity: 0.5;
}

.error {
  display: inline-block;
  background-color: red;
  color: white;
  margin: 20px auto;
}

.content {
  flex: 1;
}
.footer {
  padding: 10px;
}
.footer em:hover {
  opacity: 0.6;
}